# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
#  Files created after you build
dist/
build/
*.spec

# Virtual environments
venv/
env/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
*.log

# Executable
*.exe

# Icons or temporary assets if not final
assets/temp/
