# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PyInstaller
*.spec
dist/
build/

# Log files
*.log

# IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# dotenv
.env

# Other
*.bak
